.colorprincipal{
    background-color:#ffcff9 !important;
}
.btn-primary{
    background-color: #ffcff9 !important;
    border-color: #ffcff9 !important;
}
.btn-primary:hover{
    background-color: #ffcff9 !important;
    border-color: #ffcff9 !important;

}
.fondo{
    background-image: url(./img/fondo1.jpg);
    background-position: top center;
    background-size: cover;
    padding: 25%;
    background-attachment: fixed;
}
.fondo2{
    background-image: url(./img/fondo2.webp);
    background-position: top center;
    background-size: cover;
    padding: 25%;
    background-attachment: fixed;
}